<h4 class="welcome">Welcome {{data.username}}! Click a show below to discuss it! [<a href="#/join">Sign Out</a>]</h4>

<ul class="list-unstyled list-inline">
  <li class="roomlabel" ng-repeat="channel in channels track by $index">
    <a class="bt btn-info" href='' ng-class="{'label-default': user != data.username, 'label-default': (channel != selectedChannel), 'label-success':(channel == selectedChannel)}" ng-click='subscribe(channel)'>
      <i clas='fa' ng-class="{'fa-spin':(channel == selectedChannel), 'fa-spinner':(channel == selectedChannel), 'fa-comments':(channel != selectedChannel)}"></i>
      {{channel}}
    </a>
  </li>
  <li class="roomlabel">
    <a class="btn btn-default" href="" ng-click="showCreate = !showCreate">
      <i class="fa fa-magic"></i> New Show
    </a>
  </li>

  <div ng-show="showCreate">
    <form ng-submit="createChannel()">
      <h6>Create A New Room</h6>
      <div class="input-group">
        <input class="input-sm form-control" ng-model="newChannel" placeholder="Show Name" type="text">
        <span class="input-group-btn">
          <input class="input-sm btn btn-default" type="submit" value="create">
        </span>
      </div>
      {{ errorMessage }}
      <br>
      <br>
    </form>
  </div>

</ul>
<br>
<div class="row">
  <div class="col-md-2">
    <small class="marker">Users In Room</small>
    <ul class="list-unstyled">
      <li ng-repeat="user in users track by $index">
        <span class='label btn-mini userlabel' ng-class="{'label-default': user != data.username, 'label-success': (user == data.username)}" title='(Location:{{userdata[user].city || "unknown"}})'>
          <i class="fa fa-user"></i>
          {{user}}
        </span>
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <form ng-submit="publish()">
      <input class="input-sm form-control" ng-model="newMessage" type="text" placeholder="Type a message...">
      <span class="input-group-btn">
        <input class='input-sm btn btn-default' type="submit" value="Send">
      </span>
    </form>
    <br>
    <div class="well chatbox" id="chat_history">
      <ul class="list-unstyled">
        <li ng-repeat="message in messages track by $index">
          <i class="fa fa-comment"></i>
          &nbsp;
          {{message}}
        </li>
      </ul>
    </div>
  </div>
</div>